*{
    margin: 0;
    padding: 0;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination span{
    padding:10px 20px;
    border: 1px solid #cccccc;
    margin-right: 10px;
}
.pagination span.active{

    border: 1px solid dodgerblue;
    color: dodgerblue;
}
